<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156632749397-j3e6iia4891b1bqvc4p97aolob1f2o7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156632749397-j3e6iia4891b1bqvc4p97aolob1f2o7r</string>
	<key>API_KEY</key>
	<string>AIzaSyDSf63nmwS0C5V_217ZFFanWjQc4uAknJU</string>
	<key>GCM_SENDER_ID</key>
	<string>156632749397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.steamproject</string>
	<key>PROJECT_ID</key>
	<string>steamproject-9476e</string>
	<key>STORAGE_BUCKET</key>
	<string>steamproject-9476e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156632749397:ios:bd8fa5ffcc5b0f8c2a0bdc</string>
</dict>
</plist>